@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.4.0');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
       url('../font/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
       url('../font/fontawesome-webfont.woff?v=4.4.0') format('woff'),
       url('../font/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
       url('../font/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font: 400 16px/1.4 'Montserrat', Helvetica, sans-serif;
}

a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

/* Buttons */

.ds__btn {
	display: inline-block;
	padding: 0 20px;
	border: 2px solid #FFF;
	color: #FFF;
	text-decoration: none;
	line-height: 45px;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
}

.ds__btn:hover {
	background: rgba(255, 255, 255, 0.075);
}

.ds__btn_more:before {
	content: '\f054';
	float: right;
	font-family: 'FontAwesome';
	margin-left: 10px;
}

.ds__btn_dark {
	border-color: #7f7f7f;
	color: #7F7F7F;
}

.ds__btn_dark:hover {
	background: rgba(144, 144, 144, 0.075);
}

/* Rhomb */

[class*='_rhomb'] {
	position: relative;
	text-align: center;
}

[class*='_rhomb']:before {
	position: relative;
	z-index: 1;
	font-size: 2em;
	color: #FFF;
}

[class*='_rhomb']:after {
	display: block;
	content: '';
	position: absolute;
	top: 0; left: 0;
	transform: rotate(45deg);
	width: inherit;
	height: inherit;
	z-index: 0;
	background: #F06862;
}

/* Wrapper */

.ds-wrapper {
	padding-top: 78px;
}

/* Header */

.ds-header {
	position: fixed;
	top: 0; left: 0; right: 0;
	background: #7F7E93;
	line-height: 78px;
	z-index: 999;
}

.ds-container {
	width: 960px;
}

.ds-logo {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	line-height: 65px;
}

.ds-logo:before {
	content: '\f1b2';
	color: #F06862;
	font-family: 'FontAwesome';
	margin-right: 5px;
}

.ds-menu,
.ds-menu__submenu {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.ds-menu__item {
	display: inline-block;
	line-height: 43px;
	margin-right: 20px;
	font-size: 16px;
}

.ds-menu__item > a {
	position: relative;
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	padding: 0 20px;
	margin: 0 10px;
	text-transform: uppercase;
	font-weight: 700;
}

.ds-menu__item_is-current {
	background-color: rgba(0, 0, 0, .25);
}

.ds-menu__item_has-submenu {  }

.ds-menu__item_has-submenu:hover {
	background-color: #767588;
}

.ds-menu__item_has-submenu:hover > .ds-menu__submenu {
	visibility: visible;
}

/* Sub Menu */

.ds-menu__submenu {
	visibility: hidden;
	position: absolute;
	background: #7F7E93;

	-webkit-transition-property: visibility;
    /*-webkit-transition-duration: .5s;*/
	-webkit-transition-delay: .2s;
}

.ds-menu__submenu_lvl_0 {
	top: calc(100% + 25px);
	padding: 10px 0;
}

.ds-menu__submenu_lvl_0:before {
	content: '';
	position: absolute;
	top: -15px;
	left: 0; right: 0;
	margin: 0 auto;
	border-width: 0 20px 15px;
    width: 0;
    display: block;
    border-color: #7F7E93 transparent;
    border-style: solid;
}

.ds-menu__submenu_lvl_1 {
	top: -5px;
	left: 100%;
	white-space: nowrap;
}

.ds-menu__submenu-item {
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ds-menu__submenu-item:last-child {
	border: none;
}

.ds-menu__submenu-item > a {
	display: block;
	text-decoration: none;
	padding: 0 80px 0 10px;
	color: #DFDEE4;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
}

.ds-menu__submenu-item:hover {
	background-color: #F06862;
}

.ds-menu__submenu-item:hover > a {
	color: #FFF;
}

.ds-menu__submenu-item_has-submenu:hover > .ds-menu__submenu {
	visibility: visible;
}

/* Banner */

.ds-banner {
	padding: 160px 0 180px;
	background: url(../img/banner.jpg) no-repeat 50%;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.ds-banner__title,
.ds-banner__text {
	color: #FFF;
	text-transform: uppercase;
	width: 450px;
}

.ds-banner__title {
	font-size: 39px;
	margin: 0 0 35px;
	line-height: 50px;
}

.ds-banner__text {
	font-size: 22px;
	margin: 0 0 35px;
}

/* About */

.ds-about {
	background-color: #F06862;
	overflow: hidden;
}

.ds-about__general {
	padding: 105px 70px 70px 0;
}

.ds-about__title,
[class^='ds-about__title--'] {
	text-transform: uppercase;
}

.ds-about__text,
[class^='ds-about__text--'] {
	padding-bottom: 35px;
}

.ds-about__title_light {
	color: #FFF;
	font-size: 30px;
}

.ds-about__text_light {
	color: #FBD9D7;
}

.ds-about__title_dark {
	color: #F06862;
	font-size: 22px;
}

.ds-about__text_dark {
	color: #868686;
}

.ds-about__additional {
	padding: 50px 0 40px 70px !important;
}

.ds-about__additional,
.ds-about__additional * {
	position: relative;
}

.ds-about__additional:first-child:before {
	background: #F5F5F5;
}

.ds-about__additional:last-child:before {
	background: #FFF;
}

.ds-about__additional:before {
	content: '';
	position: absolute;
	top: 0; bottom:0; left: 0;
	width: 1000%;
	z-index: 0;
}

/* Article */

.ds-article {
	background: #F5F5F5;
	padding: 105px 0 70px;
}

.ds-article__img-wrapper {
	position: relative;
	border: 1px solid #FFF;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	padding: 34px;
	background: #FFF;
	margin-right: 70px;
}

.ds-article__img-wrapper:after {
	content: '';
	background: #F0F0F0;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	position: absolute;
	top: 50%; right: 7px;
	width: 13px;
	height: 13px;
}

.ds-article__picture {
	width: 100%;
}

.ds-article__title,
.ds-article__subtitle {
	text-transform: uppercase;
}

.ds-article__title {
	color: #7F7F7F;
}

.ds-article__subtitle {
	color: #A5A5A5;
}

.ds-article__text {
	color: #868686;
}

/* Scheme */

.ds-scheme {
	text-align: center;
	margin: 4em 0 2em;
}

.ds-scheme__title,
.ds-scheme__text {
	text-transform: uppercase;
}

.ds-scheme__title {
	font-size: 1.65em;
	color: #7F7F7F;
}

.ds-scheme__text {
	font-size: 1.25em;
	color: #A5A5A5;
	margin: 0 0 2em;
}

.ds-tree {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.ds-tree__item {
	display: inline-block;
	position: relative;
	font-size: 16px;
	width: 33.3333%;
	margin: 1em 0 0;
	padding: 3em 0 0;
}

.ds-tree__item:before {
	background: rgba(144, 144, 144, 0.25);
    content: '';
    display: block;
    height: 3.25em;
    left: 50%;
    margin-left: -0.4px;
    position: absolute;
    top: 1px;
    width: 1px;
}

.ds-tree__item:after {
	background: rgba(144, 144, 144, 0.25);
    content: '';
    display: block;
    height: 1px;
    left: -4em;
    position: absolute;
    top: 0;
    width: calc(100%);
}

.ds-tree__item:first-child:after {
	left: 50%;
    width: calc(50% - 4em);
}

.ds-tree__item:last-child:after {
	width: calc(50% + 4em);
}

.ds-tree__icon {
	width: 4.5em;
	height: 4.5em;
	line-height: 4.5em;
}

.ds-tree__title {
	color: #7F7F7F;
	font-size: 1.25em;
	text-transform: uppercase;
}

.ds-tree__text {
	color: #868686;
	font-size: 11pt;
}

/* Feedback */

.ds-feedback {
	background: #747389;
	color: #FFF;
	padding: 4em 0 2em;
}

.ds-feedback__title {
	font-size: 1.75em;
	margin: 0 0 1em;
}

.ds-feedback-person {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.ds-feedback-person__item {
	display: inline-block;
	width: 33.3333%;
	font-size: 16px;
}

.ds-feedback-person__text {
	position: relative;
	background: #575767;
	font-style: italic;
	font-size: 0.9em;
	padding: 1em 2em;
	margin-bottom: 2.5em;
}

.ds-feedback-person__text:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(87, 87, 103, 0);
	border-top-color: #575767;
	border-width: 15px 20px 0 20px;
	margin-left: -20px;
}

.ds-feedback-person__name,
.ds-feedback-person__position {
	display: block;
	font-style: normal;
}

.ds-feedback-person__photo {
	display: inline-block;
	background: #7E7D92;
	overflow: hidden;
	font-size: 0;
	margin-bottom: 1em;
}

.ds-feedback-person__position {
	color: #CBCBD3;
}

/* Advantage */

.ds-advantage {
	padding: 4em 0 2em;
}

.ds-advantage-item {
	padding-bottom: 3em;
}

.ds-advantage-item__icon {
	margin-top: 2.85em;
	width: 4.5em;
	height: 4.5em;
	line-height: 4.5em;
}

.ds-advantage-item__text-wrapper {
	border-left: 1px solid rgba(144, 144, 144, 0.25);
	width: calc(100% - 5.7em - 2em);
	padding: 0 2em 0 2em;
}

.ds-advantage-item__title {
	color: #7F7F7F;
	font-size: 1.25em;
	text-transform: uppercase;
}

.ds-advantage-item__text {
	color: #868686;
}

/* Footer */

.ds-footer {
	background: #F5F5F5;
	padding: 4em 0 2em;
}

.ds-social {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 0;
}

.ds-social:after {
	content: '© Untitled. All rights reserved.';
	display: block;
	margin: 3em 0 0;
	color: #868686;
	font-size: 13pt;
}

.ds-social__item {
	display: inline-block;
	font-size: 14px;
	margin-right: 2.5em;
}

.ds-social__item:last-child {
	margin: 0;
}

.ds-social__link {
	display: block;
	text-decoration: none;
	width: 4.5em;
	height: 4.5em;
	line-height: 4.5em;
}

.ds-social__link:hover:before {
	color: #FFF;
}

.ds-social__link:hover:after {
	background: #F06862;
}

.ds-social__link:before {
	color: #A5A5A5;
	font-size: 2em;
}

.ds-social__link:after {
	background: rgba(144, 144, 144, 0.2);
}

/* Responsive */

@media screen and (max-width: 1100px) {

	.ds-menu__submenu_lvl_1 {
		left: auto;
		right: 100%;
	}

}

